<div class="customer">
  <div><strong><%= customer.full_name %></strong></div>
  <div class="image"><%= image_tag customer.image.to_s,  height:"320" %></div>
  <div><strong>Province: </strong>
    <% if customer.province_id.nil? %>
        <%= "None" %>
    <% else %>
        <%= customer.province.name %>
    <% end %>
        </div>
  <div><%= customer.phone %></div>
  <div><%= customer.email %></div>
</div>